
# IntelliJ project files
.idea
*.iml
gen### Scala template
*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# Configs
src/main/resources/configs/*
!src/main/resources/configs/example.json

src/main/scala/configs/*
!src/main/scala/configs/example.json

#Test
src/main/scala/Test.scala